@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    box-sizing: border-box;
}

:root
{
    --fontText: 'Poppins', sans-serif;
}
section
{     
    display: grid;
    background: chocolate;
    grid-template-columns: 3;
    height: 100vh;
}


.header
{
 
 background: white;  
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 grid-column-start: 1;
 grid-column-end: 3;

}

.header  h1
{
 color: #539298;
padding-left: 10px;
font-family: var(--fontText);
}

.subscription
{
    
    background: #2BB3B1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription h1
{
    font-weight: bold;
    color: white;
    font-family: var(--fontText);
    font-size: 1rem;
}
.subscription p
{
    font-size: 1.2rem;
}
.subscription p span
{
    font-size: 0.5rem;
    color: white;
}
.pa
{
    font-size: 1rem;
    color: white;
    font-family: var(--fontText);
}
button
{
    display: inline-block;
    border: none;
    width: 200px;
    height: 50px;
    background: #BFDF32;
    text-align: center;
    color: white;
    font-size: 1rem;
    border-radius: 2px;
    font-family: var(--fontText);
}
.why
{
    background: #4ABEBD;
}

.why h1
{
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding: 1rem 0rem 0rem 2.2rem;
    font-family: var(--fontText);
}

.why ul li
{
    text-decoration: none;
    list-style-type: none;
    color: white;
    line-height: 1.6rem;
    font-size: 0.8rem;
    font-family: var(--fontText);
}
