@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root
{
    /* primary colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* Accent Color */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* Neutral colors */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* Fonts family */
    --primary-font:'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif; 

}

/* class utilities */
ul li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: var(--very-dark-blue);
}

.center
{
    text-align: center;
}

.btn
{
    display: block;
    padding: 10px 20px;
    font-family: var(--primary-font);
    font-weight: 700;
    width: 300px;
    background: var(--bright-blue);
    color: var(--light-grayish-blue);
    outline: none;
    border: none;
    font-size: 0.9rem;

}
/* end of class utilities */

/* header section */
header
{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    font-family: var(--primary-font);
    font-size: 0.9rem;
}
header .logo img
{
    width: 60%;
}
header .nav_list ul
{
    display: flex;
    gap: 20px;
}
 
/* end of header section */

/* section 1 */
section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section_image img
{
    width: 70%;
}

.section-info h1
{
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--very-dark-blue);
    padding: 0px 90px;
}

.section-info p
{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--desaturated-blue);
    padding: 0px 90px;
    line-height: 1.5rem;
}

.form input[type= "text"]
{
 width: 300px;
 padding: 10px 20px;
 margin-bottom: 20px;
 outline: none;
}

.form input[type="text"]::placeholder
{
    font-family: var(--primary-font);
}
/* end section 1 */