@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root
{
    /* page colors */
    --primary-color: hsl(240, 80%, 50%);
    --primary-light-color: hsl(240, 78%, 60%);
    --primary-lighter-color: hsl(240, 45%, 69%);
    --primary-dark-color: hsl(240, 18%, 31%);
    --secondary-color: hsl(120, 74%, 50%);
    --secondary-light-color: hsl(120, 60%, 65%);
    --secondary-lighter-color: hsl(120, 65%, 80%);
    --secondary-dark-color: hsl(120, 75%, 35%);

    /* Utilities colors */
    --dark-color: hsl(360, 60%, 0%);
    --white-color: hsl(0,60%, 100%);
    --grey-color: hsl(0, 2%, 47%);
    
    /* font- family */
     --main-font: 'Poppins', sans-serif;
     
}

/* class utilittes */
.btn
{
    display: inline-block;
    width: 150px;
    height: 40px;
    border: none;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    color: var(--white-color);
    font-family: var(--main-font);
}


/* end of class utitlities */
/* header section */
header
{
    width: 100vw;
    height: 200px;
    border: 2px solid red;
}

.header-title
{
    font-family: var(--main-font);
    font-size: 1.5rem;
}

.header-text
{
    font-family: var(--main-font);
    font-size: 0.9rem;
}

.ios-btn
{
    background: var(--secondary-dark-color);
}

.mac-btn
{
    background: var(--primary-dark-color);
}